@import url("https://fonts.googleapis.com/css2?family=Balsamiq+Sans&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Balsamiq Sans", cursive;
}

body {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to right, #1b1a1b, #590238);
}

form {
  width: 25rem;
  height: 28rem;
  display: flex;
  flex-direction: column;
  background: rgba(255, 255, 255, 0.08);
  box-shadow: 3px 3px 5px rgba(31, 38, 135, 0.37);
  border-left: 0.5px solid rgba(255, 255, 255, 0.6);
  border-top: 0.5px solid rgba(255, 255, 255, 0.6);
  border-radius: 20px;
}
label {
  font-size: 20px;
  color: white;
  margin-left: 10%;
  opacity: 0.8;
  text-shadow: 5px 5px 7px rgba(0, 0, 0, 0.2);
}
form::before {
  content: "";
  position: absolute;
  bottom: 3%;
  right: 30%;
  width: 200px;
  height: 200px;
  background-color: magenta;
  border-radius: 50%;
  z-index: -1;
  opacity: 0.5;
}
form::after {
  content: "";
  position: absolute;
  top: 6%;
  left: 32%;
  width: 150px;
  height: 150px;
  background-color: magenta;
  border-radius: 50%;
  z-index: -1;
  opacity: 0.3;
}
form::before {
  content: "";
  position: absolute;
  bottom: 4%;
  right: 30%;
  width: 200px;
  height: 200px;
  background-color: magenta;
  border-radius: 50%;
  z-index: -1;
  opacity: 0.6;
}
h1 {
  font-size: 50px;
  text-align: center;
  color: white;
  letter-spacing: 3px;
  margin-top: 5%;
  opacity: 0.7;
  text-shadow: 5px 5px 7px rgba(0, 0, 0, 0.2);
  margin-bottom: 3%;
}
input {
  background: transparent;
  width: 80%;
  margin: 5% auto;
  outline: none;
  border: none;
  margin-bottom: 8%;
  border-bottom: 1px solid rgba(255, 255, 255, 0.6);
  opacity: 0.8;
  cursor: pointer;
}
button {
  width: 50%;
  margin: 3% auto;
  color: white;
  font-size: 15px;
  opacity: 0.7;
  background: rgba(255, 255, 255, 0.1);
  padding: 10px 30px;
  border: none;
  outline: none;
  border-radius: 20px;
  text-shadow: 2px 2px 4px rgba(255, 255, 255, 0.2);
  box-shadow: 3px 3px 5px rgba(31, 38, 135, 0.37);
  border-left: 0.5px solid rgba(255, 255, 255, 0.3);
  border-top: 0.5px solid rgba(255, 255, 255, 0.3);
  cursor: pointer;
}
a {
  text-align: center;
  color: white;
  font-size: 12px;
  opacity: 0.7;
  margin-bottom: 8%;
  cursor: pointer;
}
p {
  text-align: center;
  color: white;
  font-size: 12px;
  opacity: 0.55;
  padding-bottom: 10px;
}
h2 {
  font-size: 50px;
  text-align: center;
  color: white;
  letter-spacing: 3px;
  margin-top: 5%;
  opacity: 0.7;
  text-shadow: 5px 5px 7px rgba(0, 0, 0, 0.2);
  margin-bottom: 3%;
}
